@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Outfit', sans-serif;
}

.transition-image {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.gradient {
  background: rgb(58,99,144);
  background: linear-gradient(90deg, rgba(58,99,144,1) 0%, rgba(41,86,144,1) 50%, rgba(15,33,110,1) 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

